In [1]:
import investpy
import pandas as pd
import numpy as np
from statsmodels.tsa.arima.model import ARIMA
from random import random
import datetime

In [25]:
investpy.get_stock_historical_data(stock='AAPL',
                                        country='United States',
                                        from_date='01/01/2010',
                                        to_date='01/01/2020')

             Open   High    Low  Close     Volume Currency
Date
2010-01-04   7.62   7.66   7.58   7.64  493728704      USD
2010-01-05   7.66   7.70   7.62   7.66  601904640      USD
2010-01-06   7.66   7.69   7.53   7.53  552158912      USD
2010-01-07   7.56   7.57   7.47   7.52  477129760      USD
2010-01-08   7.51   7.57   7.47   7.57  447876768      USD
...           ...    ...    ...    ...        ...      ...
2019-12-24  71.17  71.22  70.73  71.07   48479000      USD
2019-12-26  71.21  72.50  71.18  72.48   93336000      USD
2019-12-27  72.78  73.49  72.03  72.45  146372000      USD
2019-12-30  72.36  73.17  71.31  72.88  144238000      USD
2019-12-31  72.48  73.42  72.38  73.41  100991000      USD

[2517 rows x 6 columns]

In [2]:
df = investpy.get_stock_historical_data(stock='AAPL',
                                        country='United States',
                                        from_date='01/01/2010',
                                        to_date='01/01/2020')
df.head()

            Open  High   Low  Close     Volume Currency
Date
2010-01-04  7.62  7.66  7.58   7.64  493728704      USD
2010-01-05  7.66  7.70  7.62   7.66  601904640      USD
2010-01-06  7.66  7.69  7.53   7.53  552158912      USD
2010-01-07  7.56  7.57  7.47   7.52  477129760      USD
2010-01-08  7.51  7.57  7.47   7.57  447876768      USD

In [3]:
USA_Stocks = investpy.stocks.get_stocks(country='United States').symbol.unique()

dateHist0 = '01/01/2020'
dateHist1 = '30/04/2021'

In [4]:
st = investpy.stocks.get_stocks(country='United States')

st[st.name == 'Tesla']

           country   name  full_name          isin currency symbol
600  united states  Tesla  Tesla Inc  US88160R1014      USD   TSLA

Exploring Fitness function:

In [13]:
investpy.get_stock_historical_data(stock=USA_Stocks[600],
                                        country='United States',
                                        from_date='29/04/2021',
                                        to_date=dateHist1)

              Open    High     Low   Close    Volume Currency
Date
2021-04-29  699.51  702.25  668.50  677.00  28845400      USD
2021-04-30  667.59  715.47  666.14  709.44  40758700      USD

In [5]:
df0 = investpy.get_stock_historical_data(stock=USA_Stocks[600],
                                        country='United States',
                                        from_date=dateHist0,
                                        to_date=dateHist1)
df0['NetDiff'] = df0.Close - df0.Open

print('Sum of the daily performance:', df0['NetDiff'].sum(), '\nAverage performance:', df0['NetDiff'].mean(), '\nstd: ', df0['NetDiff'].std())
df0.head()

Sum of the daily performance: 145.66999999999996
Average performance: 0.43483582089552225
std:  16.51930778931835

             Open   High    Low  Close     Volume Currency  NetDiff
Date
2020-01-02  84.90  86.14  84.34  86.05   47791928      USD     1.15
2020-01-03  88.10  90.80  87.38  88.60   88973488      USD     0.50
2020-01-06  88.09  90.31  88.00  90.31   50787496      USD     2.22
2020-01-07  92.28  94.33  90.67  93.81   91045688      USD     1.53
2020-01-08  94.74  99.70  93.65  98.43  155996960      USD     3.69

In [8]:
# Len of data to predict: (not being used)
#date2 = pd.DataFrame()
#date2['Date'] = pd.date_range(start='05-01-2021', end='05-10-2021')

In [6]:
# MA try:

# fit model
model = ARIMA(df0['NetDiff'], order=(0, 0, 15)).fit()
#model_fit = model.fit()
# make prediction
yhat = model.predict(begin=len(df0), end=len(df0)+15)
yhat

C:\Users\maike\Anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:581: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  warnings.warn('A date index has been provided, but it has no'
C:\Users\maike\Anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:581: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  warnings.warn('A date index has been provided, but it has no'
C:\Users\maike\Anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:581: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  warnings.warn('A date index has been provided, but it has no'
C:\Users\maike\Anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:376: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  warnings.warn('No supported index is available.'

0      0.452289
1      0.303273
2      0.308226
3      0.087359
4     -0.004149
         ...
346    1.784397
347   -0.299783
348   -3.300242
349    5.969305
350    0.452289
Name: predicted_mean, Length: 351, dtype: float64

In [19]:
yhat[-15::].sum()

15.197522135812386

In [17]:
print(yhat[-15::].mean(), yhat[-15::].std())

1.0131681423874925 5.490773846583822

In [18]:
df0['pred'] = model_fit.predict().values

err = (df0['NetDiff'] - df0['pred'])**2

print(err.mean(), err.std())

231.70571394535716 432.46132192983754

# Reading raw data:

In [5]:
df = pd.read_csv('data/extracted_prices_at_30042021.csv', encoding ='latin1')

df

                      name symbol                 Date  closingprice
0           General Motors     GM  2021-04-30 00:00:00         57.22
1                  Chevron    CVX  2021-04-30 00:00:00        103.07
2                Citigroup      C  2021-04-30 00:00:00         71.24
3          Bank of America    BAC  2021-04-30 00:00:00         40.53
4                     AT&T      T  2021-04-30 00:00:00         31.41
...                    ...    ...                  ...           ...
4066              Cars.com   CARS  2021-04-30 00:00:00         13.21
4067  JBG SMITH Properties   JBGS  2021-04-30 00:00:00         32.61
4068        nVent Electric    NVT  2021-04-30 00:00:00         30.45
4069          Resideo Tech   REZI  2021-04-30 00:00:00         30.01
4070   Equitrans Midstream   ETRN  2021-04-30 00:00:00          8.16

[4071 rows x 4 columns]